<nav>
    <div class="menu-superior">
        <img src="./img/logo-cd.png" class="logo-cd" />
        <ul class="opcoes-menu">
            <li class="opcao">Clientes
                <ul class="sub-menu">
                    <li ng-click="$ctrl.nextStep('register')">Cadastrar</li>
                    <li ng-click="$ctrl.nextStep('change')">Buscar</li>
                    <li ng-click="$ctrl.nextStep('search')">Alterar</li>
                </ul>
            </li>
            <li class="opcao">Boletos</li>
            <li class="opcao">Outro</li>
        </ul>
    </div>
</nav>
